<div class="container" style="margin-top: 128px;">
    <div class="row">
      <div class="col-12">TUDO C/ 50% e 20x S/ JUROS!</div>
      <div class="col-lg-3">
        <h1 class="my-4">ME-SHOP</h1>
        <div class="list-group">
          <a href="/ferramentas" class="list-group-item">FERRAMENTAS</a>
          <a href="/vestuario" class="list-group-item active">VESTUÁRIO</a>
          <a href="/eletrodomesticos" class="list-group-item">ELETROELETRÔNICOS</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="https://surfalive.fbitsstatic.net/img/p/camiseta-rip-curl-medina-black-93356/257037.jpg?w=800&h=800&v=no-change" alt="">
          <div class="card-body">
            <h3 class="card-title">Camiseta Rip Curl Sunset Bear Preta</h3>
            <h4>R$89,90</h4>
            <p class="card-text">
Camiseta Rip Curl sunset Bear Preta
Modelagem: Reta
Manga: Curta
Estampa/Padronagem: Outras
Gola: Redonda
Tamanho: M
Material: Algodão
Composição: 100% algodão
Tipo de Tecido: Malha
Lavagem: Pode ser lavado na máquina
Medidas da peça: Ombro: 14cm/ Ombro a Ombro: 50cm/ Manga: 25cm/ Tórax: 112cm /Comprimento: 72cm
Medidas Modelo: Altura: 1,83m/ Tórax: 96cm/ Manequim 40.

INFORMAÇÕES
SKU	RI987SRM28BTR
Modelo	Rip Curl CTE0825
Cor	Preto
Ocasião de uso	Esporte
Lavagem	Pode ser lavado na máquina
Material	Algodão
Tipo de frete:	Leve</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Nossos Clientes Recomendam:
          </div>
          <div class="card-body">
            <p>NÃO SERVIU NA MINHA CAPIVARA!! :( </p>
            <small class="text-muted">Posted by MAICON MONSTRO on 3/10/19</small>
            <hr>
            <p>CAMISETA MUITO BOA, SERVIU NE MIM!</p>
            <small class="text-muted">Posted by SEBASTIÃO on 3/10/19</small>
            <hr>
            <p>OTIMO PRODUTO, MAS TEM BABYLOOK PRA ACADEMIA?</p>
            <small class="text-muted">Posted by Thallys on 3/10/19</small>
            <hr>
            <a href="/login" class="btn btn-success">AVALIE NOSSO TRABALHO!</a>
            
            
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
</div>