<div class="container" style="margin-top: 128px;">
    <div class="row">
      <div class="col-12">TUDO C/ 50% e 20x S/ JUROS!</div>
      <div class="col-lg-3">
        <h1 class="my-4">ME-SHOP</h1>
        <div class="list-group">
          <a href="/ferramentas" class="list-group-item">FERRAMENTAS</a>
          <a href="/vestuario" class="list-group-item">VESTUÁRIO</a>
          <a href="/eletrodomesticos" class="list-group-item active">ELETROELETRÔNICOS</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="https://a-static.mlcdn.com.br/618x463/smart-tv-led-28-philco-ptv28g50sn-wi-fi-2-hdmi-usb/magazineluiza/193424500/f4e312f4c0e309f0e042044a55d4fb6c.jpg" alt="">
          <div class="card-body">
            <h3 class="card-title">Smart TV LED 28” Philco PTV28G50SN - Wi-Fi 2 HDMI USB</h3>
            <h4>R$667,76</h4>
            <p class="card-text">Seus momentos com a família em frente a TV não serão mais os mesmos com a Smart TV Philco PTV28G50SN.Com alta tecnologia, ela tem tela LED de 28" com resolução HD (1366x768), Wi-Fi e conversor digital integrados, sistema operacional Linux, 2 entradas HDMI e 1 USB que reproduz filmes, músicas e fotos.Conta também com processador Duo Core com maior velocidade para conteúdo dos aplicativos e performance ideal, processador gráfico com maior velocidade no processamento de gráficos mais complexos e som Surround que recria um ambiente mais realista de áudio, aumentando a qualidade sonora.</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
            5.0 ESTRELAS (ESTÁ PELANDOooOoO!)
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <p>MUITO BÃO, DA PRA JOGAR FREEFIRE EM HD! </p>
            <small class="text-muted">Posted by GuilhermeGamer on 3/08/19</small>
            <hr>
            <p>AGORA SIM VOU PODER ASSISTIR GREYSANATOMY!</p>
            <small class="text-muted">Posted by PRETOLINDO on 3/1/17</small>
            <hr>
            <p>LIGUEI NO MEU NOT PRA ESTUDAR, AGORA APRENDI O QUE É UM IF!</p>
            <small class="text-muted">Posted by MITRUTE on 3/08/19</small>
            <hr>
            <a href="/login" class="btn btn-success">AVALIE NOSSO TRABALHO!</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
</div>