
  <!-- Page Content -->
  <div class="container" style="margin-top: 128px;">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">ME-SHOP</h1>
        <h5 class="my-4">AS MELHORES OFERTAS VOCÊ ENCONTRA AQUI!</h5>
        <div class="list-group">
          <a href="/ferramentas" class="list-group-item">FERRAMENTAS</a>
          <a href="/vestuario" class="list-group-item">VESTUÁRIO</a>
          <a href="/eletrodomesticos" class="list-group-item">ELETROELETRÔNICOS</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/eletrodomesticos"><img class="card-img-top" src="https://a-static.mlcdn.com.br/618x463/smart-tv-led-28-philco-ptv28g50sn-wi-fi-2-hdmi-usb/magazineluiza/193424500/f4e312f4c0e309f0e042044a55d4fb6c.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/eletrodomesticos">Smart TV LED 28” Philco PTV28G50SN - Wi-Fi 2 HDMI USB</a>
                </h4>
                <h5>R$667,76</h5>
                <p class="card-text">Seus momentos com a família em frente a TV não serão mais os mesmos com a Smart TV Philco PTV28G50SN</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733;</small>
                (ESTÁ PELANDO!)
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/vestuario"><img class="card-img-top" src="https://surfalive.fbitsstatic.net/img/p/camiseta-rip-curl-medina-black-93356/257037.jpg?w=800&h=800&v=no-change" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/vestuario">Camiseta Rip Curl Sunset Bear Preta</a>
                </h4>
                <h5>R$89,90</h5>
                <p class="card-text">Camiseta Rip Curl Sunset Bear Preta, Modelagem: Reta, Manga: Curta</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/ferramentas"><img class="card-img-top" src="https://a-static.mlcdn.com.br/618x463/furadeira-e-parafusadeira-eletrica-bosch-12v-velocidade-variavel-mandril-1-4-gsr-1000-smart/magazineluiza/218845000/897c3ba2c01d489074862c6860210fbd.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/ferramentas">Furadeira e Parafusadeira Elétrica Bosch 12V</a>
                </h4>
                <h5>R$284,91</h5>
                <p class="card-text">Furadeira e Parafusadeira Elétrica Bosch GSR 1000 Smart. Longa vida útil da bateria graças ao sistema ECP, que previne sobrecarga.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
  <!-- /.container -->