<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" id="toHome" href="/home">ME-SHOP - BOM DE COMPRAR, DIFÍCIL PAGAR!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/cadastrocliente">CADASTRE-SE
              <span class="sr-only">(current)</span>
            </a>
            <a class="nav-link" href="/login">LOGIN
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>


{{outlet}}
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">APROVEITE NOSSAS OFERTAS, TODA A LOJA C/50% EM 20X SEM JUROS!</p>
      <p class="m-0 text-center text-white">____________________________</p>
      <p class="m-0 text-center text-white">CONTATOS:</p>
      <p class="m-0 text-center text-white">FONE: (46) 3025-6060</p>
      <p class="m-0 text-center text-white">SAC: 0800-696969</p>
      <p class="m-0 text-center text-white">EMAIL: SAC@MESHOP.COM.BR</p>
      <p class="m-0 text-center text-white">RUA BEM LONGE, Nr.: 69, PORÃO 03 (FUNDOS) - PATO BRANCO-PR - BRASIL - PLANETA TERRA - UNIVERSO.</p>
        <p class="m-0 text-center text-white">TODOS OS DIREITOS RESERVADOS &copy; PROJETO EMBER - RAFAEL QUADRA e ALEXANDRE GERON.</p>
    </div>
<!-- /.container -->
</footer>