<div class="container" style="margin-top: 128px;">
    <div class="row">
      <div class="col-12">TUDO C/ 50% e 20x S/ JUROS!</div>
      <div class="col-lg-3">
        <h1 class="my-4">ME-SHOP</h1>
        <div class="list-group">
          <a href="/ferramentas" class="list-group-item active">FERRAMENTAS</a>
          <a href="/vestuario" class="list-group-item">VESTUÁRIO</a>
          <a href="/eletrodomesticos" class="list-group-item">ELETROELETRÔNICOS</a>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="https://a-static.mlcdn.com.br/618x463/furadeira-e-parafusadeira-eletrica-bosch-12v-velocidade-variavel-mandril-1-4-gsr-1000-smart/magazineluiza/218845000/897c3ba2c01d489074862c6860210fbd.jpg" alt="">
          <div class="card-body">
            <h3 class="card-title">Furadeira e Parafusadeira Elétrica Bosch 12V</h3>
            <h4>R$284,91</h4>
            <p class="card-text">Furadeira e Parafusadeira Elétrica Bosch GSR 1000 Smart. Longa vida útil da bateria graças ao sistema ECP, que previne sobrecarga, sobreaquecimento e descarga profunda das células da bateria. O indicador de carga de 3 LEDs exibe claramente o estado da carga da bateria. Com a empunhadeira ergonômica, ela possui melhor design da classe e proporciona um trabalho incomparável, além de mandril 1/4 ". Indicada para uso em locais de difícil acesso, este modelo é ideal tanto para profissionais quanto amadores. Compacta e leve, funciona com bateria de íons lítio com 12V de potência e é projetada para realizar mais de 100.000 parafusamentos. Ela demora em torno de 1 hora para ser carregada e não é preciso fazer uma carga completa a cada descarregamento, pois a bateria de íons de lítio não tem sua vida útil reduzida, ou seja, a interrupção do processo de carga não a danifica. Estima-se que, em madeira com menor dureza, uma carga completa consiga fazer até 600 aparafusamentos de forma contínua.</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Nossos Clientes Recomendam:
          </div>
          <div class="card-body">
            <p>ME-SHOP É MUITO BOM, SERVIÇO DE QUALIDADE</p>
            <small class="text-muted">Posted by BUNDA 3/11/19</small>
            <hr>
            <p>PARAFUSADEIRA EXCELENTE, MUITO BOA, RECOMENDO!</p>
            <small class="text-muted">Posted by JOSÉ on 3/11/19</small>
            <hr>
            <p>SE TU NÃO FIZ A COMPRA AINDA, PODE COMPRAR SEM MEDO!</p>
            <small class="text-muted">Posted by JAISÃO on 3/11/19</small>
            <hr>
            <a href="/login" class="btn btn-success">AVALIE NOSSO TRABALHO!</a>
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
</div>